altgraph==0.17.4
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.6
packaging==25.0
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2023.2.7
pillow==11.3.0
pycparser==2.22
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pypdfium2==4.30.0
pywin32-ctypes==0.2.3
setuptools==80.9.0
